    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="/assets/js/vendor/modernizr.js"></script>
    <script src="/assets/js/foundation.min.js"></script>
    <script src="/assets/js/notepad.js"></script>
    <script src="/assets/js/scripts.min.js"></script>

    <script>
      $(document).foundation();
    </script>

{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
